@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-*: initial;
}

body {
  @apply text-sm font-medium bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}
